@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&display=swap');
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;


}
body{
    background-color:lightblue;
    /* background-color:yellow; */
    font-family: 'Montserrat', sans-serif;
}